<div class="row-fluid">
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Success</h4>
    The operation completed successfully</div>
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="breadcrumb">
        <li class="active">
          Pages
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <!-- block -->
    <div class="block">
      <div class="navbar navbar-inner block-header">
        <div class="muted pull-left">Pages</div>
        <div class="pull-right">
          <span class="badge badge-info"><%= pages.count %></span>
          <a class="new-page btn btn-success" href="/admin/pages/new">Create New Page</a>
        </div>
      </div>
      <div class="block-content collapse in">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Body</th>
              <th>URL</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% pages.each do |page| %>
            <tr>
              <td><%= page.id %></td>
              <td><%= page.title %></td>
              <td><%= page.body.to_s[0..100] %>...</td>
              <td><a href='/<%= page.url %>'><%= page.url %></a></td>
              <td><a href='/admin/pages/<%= page.id %>/edit'>Edit</a></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /block -->
  </div>
</div>
